.link {
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding: 1.5rem;
    border-right: 3px solid blueviolet;
    align-items: center;
    margin-top: 90px;
}

.navAuth {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 59px;
}

.link:last-child {
    border-right: none;
}

.link:hover,
.link:focus,
.link:global(.active) {
    color: blueviolet;
}