.user_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    padding-right: 15px;
    color: rgb(48, 48, 48);
    border-right: 1px solid blueviolet;
}

.link:hover,
.link:focus {
    color: blueviolet;
}

.activeLink {
    color: blueviolet;
}

.user_name {
    display: flex;
    margin-left: inherit;
    font-size: larger;
}