.user_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    padding-right: 15px;
    color: rgb(48, 48, 48);
    border-right: 1px solid blueviolet;
}

.link:hover,
.link:focus {
    color: blueviolet;
}

.activeLink {
    color: blueviolet;
}

.user_name {
    display: flex;
    margin-left: inherit;
    font-size: larger;
    margin-right: 15px;
}

.logout_btn {
    color: white;
    background-color: blueviolet;
    width: 145px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.logout_btn:hover {
    border: blueviolet;
    background-color: rgb(167, 108, 221);
}