.btn {
    color: white;
    background-color: blueviolet;
    width: 145px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.btn:hover {
    border: blueviolet;
    background-color: rgb(167, 108, 221);
}